header {
  display: grid;

  place-items: center;

  padding: 0.8em;
}
h1 {
  text-align: center;
  font-size: 2rem;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #29c4cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header section {
  display: flex;
  align-items: center;
  margin-top: 1em;
}
.input--container {
  background-color: white;
  width: 300px;
  max-width: 100%;
  border-radius: 5px 0 0 5px;
  transition: all 0.3s ease;
}
@media screen and (min-width: 800px) {
  .input--container {
    background-color: white;
    width: 500px;
  }
}
.input--container:hover,
.input--container:focus {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  outline: 2px solid #088af4;
}
.input--container input {
  width: 90%;
  height: 2.4em;
  margin: 0 0.4em;
  font-size: 16px;
  border: 0;
  outline: 0;
  caret-color: #088af4;
}
.search-icon {
  padding: 0.2rem;
  background-color: #088af4;
  font-size: 1.55rem;
  border-radius: 0 5px 5px 0;
  color: white;
  transition: all 0.3s ease;
}
.search-icon:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: darkblue;
  cursor: pointer;
}
