@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Great+Vibes&family=Lobster+Two&family=Oleo+Script&family=Pacifico&family=Playfair+Display&family=Rajdhani&family=Roboto:ital,wght@1,300&family=Share+Tech+Mono&family=Source+Sans+Pro&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(230, 238, 246);
}
